@layoutBgColor: #efefef;


/** Sidebar config */
@sidebarBg: #304156;
@sidebarWidth: 180px;
@sidebarLogoHeight: 50px;

/** 菜单默认颜色 */
@sidebarMenuBgColor: #304156;
@sidebarMenuFontColor: #BFCBD9;

/** 菜单hover颜色 */
@sidebarMenuBgHoverColor: #263445;
@sidebarMenuFontHoverColor: #BFCBD9;

/** 子菜单颜色 */
@sidebarSubMenuBgColor: #1f2d3d;
@sidebarSubMenuBgHoverColor: #001528;

/** 菜单&子菜单选中时字体颜色 */
@sidebarActiveFontColor: #409EFF;


/** Sidebar collapse */
@sidebarCollapseWidth: 56px;


@navbarHeight: 50px;
